/*FONTS*/
$fontPrimary: 'Manrope', sans-serif;
$fontSecondary: 'PT Serif', serif;

/*COLORS*/
$colorPrimary: #bf3939;
$colorSecondary: #ffffff;
$colorBlack: #000000;
$colorBgPrimary: #ffffff;
$colorbgSecondary: #f6fafb;
$colorTextPrimary: #333333;
$colorTexTSecondary: #696969;
$colorOverlayPrimary: #bf3939ef;
$colorOverlaySecondary: #000000ad;

/*MEDIA QUERIES*/

$mobileLarge:' 375px';
$tabletSmall:' 481px';
$tablet:' 768px';
$desktop:' 1024px';
$desktopLarge: "1300px";